#navlinks {

	ul {
		list-style: none;
		.nospace();

		li a {			
			.nospace();
			
			display: block;
			line-height: 3em;
			background-color: #888;
			margin: 1em;
			text-indent: 1em;
			font-weight: bold;
		}
	}
}