{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}

<div id="typlay_wrapper">
	<div id="typlay_container" class="cursor-shown"></div>
	<div id="typlay_interlace"></div>
	<div id="typlay_cabinet"></div>
</div>

<nav id="navlinks" class="hidden">
	<ul>
		<li><a href="{% url 'blog:index' %}">Blog</a></li>
		<li><a href="{% url 'tinkerings:index' %}">Tinkerings</a></li>
		<li><a href="{% url 'resume:index' %}">Resume</a></li>
	</ul>
</nav>
{% endblock %}

{% block scripts %}
<script type="text/javascript" data-main="{% static 'landing/js/main' %}" src="{% static 'landing/js/require.js' %}"></script>
{% endblock %}